absl-py
asgiref
astunparse
blinker
cachetools
certifi
charset-normalizer
click
colorama
cycler
distlib
Django
filelock
Flask
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
joblib
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
ml-dtypes
nltk
numpy
oauthlib
opt-einsum
packaging
pandas
Pillow
pipenv
platformdirs
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
regex
requests
requests-oauthlib
rsa
seaborn
six
sqlparse
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tqdm
typing_extensions
tzdata
urllib3
virtualenv
virtualenv-clone
Werkzeug
wrapt
